@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <div class="text-center" >
        <h class="display-4">Вы провели на сайте</h>
        <p><div id="timer" style="display:inline">0</div> секунд.</p>
    </div>

